#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  color: white;
  font-family: 'Arial', sans-serif;
}

.App-header {
  min-width: 300px;
}

button {
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #21a1f1;
}

p {
  margin: 10px 0;
}

h1 {
  color: #61dafb;
  margin-bottom: 20px;
}
